In [1]:
# use python 3.6
import time
import datetime
from datetime import date

import os
import random
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from dateutil.relativedelta import relativedelta
# from pandas.tseries.offsets import DateOffset
# from pandas.tseries.offsets import MonthOffset

# finnacial data
from nsepy import get_history
from nsepy.derivatives import get_expiry_date

In [2]:
# path to load and save folders
# create 2 folders - "code" 1 for code and "data_output"
# run notebook from code folder; data will get stored in data_output as csv

cwd = os.getcwd(); print(cwd)
save_path = cwd[:-4]; print(save_path)

C:\Users\gurdeep.singh\OneDrive\FinStuff\FatTailGain\fattailgain\fattailgain\nifty_option_eda\code
C:\Users\gurdeep.singh\OneDrive\FinStuff\FatTailGain\fattailgain\fattailgain\nifty_option_eda\

In [3]:
nifty_fut = get_history(symbol = 'NIFTY',
                       start = date(2015, 1, 1),
                       end = date(2015, 1, 10),
                       index = True, futures = True,
                       expiry_date = date(2015, 1, 29))

nifty_fut.head()

,Symbol,Expiry,Open,High,Low,Close,Last,Settle Price,Number of Contracts,Turnover,Open Interest,Change in OI,Underlying
Date,,,,,,,,,,,,,
2015-01-01,NIFTY,2015-01-29,8320.00,8356.0,8295.20,8343.80,8347.05,8343.80,152053,3.165350e+10,21140550,-28675,8284.00
2015-01-02,NIFTY,2015-01-29,8352.25,8470.9,8352.25,8458.40,8468.00,8458.40,384440,8.105711e+10,21427925,287375,8395.45
2015-01-05,NIFTY,2015-01-29,8452.35,8492.0,8406.00,8422.85,8423.85,8422.85,362889,7.661895e+10,20698500,-729425,8378.40
2015-01-06,NIFTY,2015-01-29,8422.00,8422.0,8000.00,8157.90,8150.30,8157.90,807830,1.663583e+11,19157775,-1540725,8127.35
2015-01-07,NIFTY,2015-01-29,8150.00,8184.0,8096.00,8141.85,8154.00,8141.85,513814,1.046381e+11,18716025,-441750,8102.10

In [6]:
nifty_fut2 = get_history(symbol = 'NIFTY',
                       start = date(2018, 3, 1),
                       end = date(2018, 3, 29),
                       index = True, futures = True,
                       expiry_date = date(2018, 3, 29))

nifty_fut2.head()

Empty DataFrame
Columns: [Symbol, Expiry, Open, High, Low, Close, Last, Settle Price, Number of Contracts, Turnover, Open Interest, Change in OI, Underlying]
Index: []